<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/output/style.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery.cookie.js"></script>

    <title>Document</title>
</head>
<body>
    <main>
        <%- include('./part/header') %>
        <div class="book_info-short">
            <%= item.title._text%>
            <div class="heart-btn" data-isbn=<%= item.isbn._text %>>♡</div>
        </div>
        <img src=<%= item.image._text %>/>
        <div>
            <%= item.description._text %>
        </div>
        <div class="modal_background unshow">
            <div class="modal_box">
                <div class="modal_box-close">X</div>
                <div class="modal_box-description">회원가입 후 사용 가능합니다.</div>
                <a href="/user/signup">
                    <div class="modal_box-signup">회원가입 하러하기</div>
                </a>
            </div>
        </div>
    </main>
    <script>
        let email = $.cookie('email');
        let isLogin = email? true:false;
        $('.heart-btn').click(function(e){
            e.preventDefault();    
            if(isLogin){
                console.log('감사');
                let isbn = e.target.getAttribute('data-isbn');
                let sendData = {email};
                try{
                    $.ajax({
                        url:`/book/save/${isbn}`,
                        type: 'post',
                        contentType : "application/json",
                        data: JSON.stringify(sendData),
                        success: function(result){
                            console.log(result);
                            $('.heart-btn').text('♥');
                        }
                    })
                }catch(err){
                    console.log(err)
                }                
                // db에 나만의 책목록 만들기
                // 프론트에서는 좋아요 표시 처리
                // 팝업으로 좋아하는 책으로 등록되었습니다.(뜨고 사라지기)
            }else{
                $('.modal_background').removeClass('unshow');
                $('.modal_background').addClass('show');
            }
        })
        $('.modal_box-close').click(function(e){
            e.preventDefault();
            $('.modal_background').removeClass('show');
            $('.modal_background').addClass('unshow');
        })
        $('.modal_background').click(function(e){
            
            if(!e.target.classList.contains("modal_box")){
                $('.modal_background').removeClass('show');
                $('.modal_background').addClass('unshow');
            }
        })
    </script>
</body>
</html>