<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta
			name="author"
			content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
		/>
		<meta name="generator" content="Hugo 0.108.0" />
		<title>Blog Template · Bootstrap v5.3</title>

		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script
			type="text/javascript"
			src="/js/plugins/jquery.cookie.js"
		></script>

		<meta name="theme-color" content="#712cf9" />

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			.b-example-divider {
				height: 3rem;
				background-color: rgba(0, 0, 0, 0.1);
				border: solid rgba(0, 0, 0, 0.15);
				border-width: 1px 0;
				box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
					inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
			}

			.b-example-vr {
				flex-shrink: 0;
				width: 1.5rem;
				height: 100vh;
			}

			.bi {
				vertical-align: -0.125em;
				fill: currentColor;
			}

			.nav-scroller {
				position: relative;
				z-index: 2;
				height: 2.75rem;
				overflow-y: hidden;
			}

			.nav-scroller .nav {
				display: flex;
				flex-wrap: nowrap;
				padding-bottom: 1rem;
				margin-top: -1px;
				overflow-x: auto;
				text-align: center;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
			}
            a{
                display: block;
            }
            .blog-header-logo {
                font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
                font-size: 2.25rem;
            }
		</style>

		<!-- Custom styles for this template -->
		<link
			href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
			rel="stylesheet"
		/>
		
	</head>
	<body>
		<div class="container">
			<%-include('./part/header')%>

			<div class="nav-scroller py-1 mb-2">
				<nav class="nav d-flex justify-content-between">
					<a class="p-2 link-secondary" href="#">World</a>
					<a class="p-2 link-secondary" href="#">U.S.</a>
					<a class="p-2 link-secondary" href="#">Technology</a>
					<a class="p-2 link-secondary" href="#">Design</a>
					<a class="p-2 link-secondary" href="#">Culture</a>
					<a class="p-2 link-secondary" href="#">Business</a>
					<a class="p-2 link-secondary" href="#">Politics</a>
					<a class="p-2 link-secondary" href="#">Opinion</a>
					<a class="p-2 link-secondary" href="#">Science</a>
					<a class="p-2 link-secondary" href="#">Health</a>
					<a class="p-2 link-secondary" href="#">Style</a>
					<a class="p-2 link-secondary" href="#">Travel</a>
				</nav>
			</div>
		</div>

		<main class="container">
			<div class="d-flex row p-1 p-md-2 mb-4 rounded text-bg-white">
				<div class="col-md-4">
					<img src='<%=item.image._text%>'/>
				</div>
				<div class="col-md-8 p-3">
					<div class="d-flex justify-content-between">
						<h1 class="display-6 book_info-title">
							<%= item.title._text %>
						</h1>
						<%if(isLogin){%>
							<%if(exist){%>
								<button class="heart-btn align-middle" data-isbn=<%=item.isbn._text %>>♥</button>
							<%}else{%>
								<button class="heart-btn align-middle" data-bs-toggle="modal" data-bs-target="#exampleModal" data-isbn=<%=item.isbn._text %>>♡</button>
							<%}%>
						<% }else{ %>
							<button class="heart-btn align-middle" data-bs-toggle="modal" data-bs-target="#signupModal" data-isbn=<%=item.isbn._text %>>♡</button>
						<% } %>
					</div>
					<p class="lead my-3">
						<%= item.description._text %>
					</p>
					<p class="lead mb-0">
						<a href="#" class="text-white fw-bold"
							>Continue reading...</a
						>
					</p>
				</div>
			</div>
		</main>
		<div class="modal fade" tabindex="-1" style="background-color:rgba(0,0,0,30%)" id="signupModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Please Sign up First</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>회원가입을 먼저 진행해주세요!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						<a href="/user/signup" class="btn btn-primary">회원가입</a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" tabindex="-1" style="background-color:rgba(0,0,0,30%)" id="exampleModal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Comment</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="modal_box-description d-flex flex-column">
							<span class="star d-inline-block">
								★★★★★
								<span>★★★★★</span>
								<input
									type="range"
									class="rating"
									oninput="drawStar(this)"
									value="1"
									step="1"
									min="0"
									max="10"
								/>
							</span>
							<textarea placeholder="코멘트를 작성해주세요" class="comment"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="book_comment-save" data-isbn="<%=item.isbn._text %>" data-bs-dismiss="modal" >Save changes</button>
					</div>
				</div>
			</div>
		</div>

		<footer class="blog-footer mt-3">
			
		</footer>
		<script>
			let email = $.cookie("email");
			let isLogin = email ? true : false;
			const drawStar = (target) => {
				document.querySelector(`.star span`).style.width = `${
					target.value * 10
				}%`;
			};
			let sendData = { email };
			
			$(".heart-btn").click(function(e){
				let isbn = e.target.getAttribute('data-isbn');
				if ($(".heart-btn").text() === "♡") {
					if (isLogin) {
						$(".modal_background_save").removeClass("unshow");
						$(".modal_background_save").addClass("show");
					}else {
						$(".modal_background").removeClass("unshow");
						$(".modal_background").addClass("show");
					};
				}else if ($(".heart-btn").text() === "♥") {
					try {
						console.log(isbn)
						$.ajax({
							url: `/book/unsave/${isbn}`,
							type: "post",
							contentType: "application/json",
							data: JSON.stringify(sendData),
							success: function (result) {
								$(".heart-btn").text("♡");
								$(".heart-btn").attr("data-bs-target","#exampleModal");
							},
						});
					} catch (err) {
						console.log(err);
					}
				}

			});
			$("#book_comment-save").click(function (e) {
				e.preventDefault();
				let isbn = $("#book_comment-save").attr("data-isbn");
				let img = $("img").attr('src');
				let title = $('.book_info-title').text().trim();
				let comment = $('.comment').val();
				let rating = $('.rating').val();
				sendData = { email, comment,title, img, rating };
				console.log(title);
				try {
					$.ajax({
						url: `/book/save/${isbn}`,
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(sendData),
						success: function (result) {
							$(".heart-btn").text("♥");
							$(".heart-btn").attr("data-bs-target","");
						},
					});
				} catch (err) {
					console.log(err);
				}
			// db에 나만의 책목록 만들기
			// 프론트에서는 좋아요 표시 처리
			// 팝업으로 좋아하는 책으로 등록되었습니다.(뜨고 사라지기)
			})
			
			$(".modal_box-close").click(function (e) {
				e.preventDefault();
				$(".modal_background").removeClass("show");
				$(".modal_background").addClass("unshow");
				$(".modal_background_save").removeClass("show");
				$(".modal_background_save").addClass("unshow");
			});
			$(".modal_background").click(function (e) {
				if (!e.target.classList.contains("modal_box")) {
					$(".modal_background").removeClass("show");
					$(".modal_background").addClass("unshow");
				}
			});
		</script>
	</body>
</html>
