<!DOCTYPE html>
<html lang="en">
<%- include('./part/head') %>
<body>
    <div class="container">
        <%- include('./part/header') %>
        <div class="home_banner">
            
        </div>
        <form class="search_bar">
            <input class="search_bar-box" name="search_keyword" placeholder="검색할 책 이름을 입력하세요"/>
            <button id="search_bar-btn">검색</button>
        </form>
        <div>
            <div class="d-inline-flex flex-wrap" style="padding:0 7%;">
            <% for(let i=0; i<items.length; i++){ %>
                <a class="d-flex flex-column justify-content-between book_item" href=<%=`/book/${items[i].isbn}` %>>
                    <div class="book_item-img">
                        <img src=<%=items[i].image %>/>
                    </div>
                    <div>
                        <div class="book_item-title">
                            <%=items[i].title %>
                        </div>
                        <div class="book_item-author">
                            <%=items[i].author %>
                        </div>
                    </div>
                </a>
            <%} %>
            </div>
        </div>
    </>
    <script>
        function loadBooks(keyword){
            console.log(keyword)
            let detachedBookItem = $('.book_list a').eq(0).detach();
            console.log(detachedBookItem.html())
            $.ajax({
                type: 'get',
                url: `/api/book/search?search_keyword=${keyword}`,
                success : function(result){
                    $('.book_list').empty();
                    const data = result.data;
                    
                    for(let i = 0; i<data.length; i++){
                        let bookData = data[i];
                        let clone = detachedBookItem.clone();
                        clone.find('.book_item-img img').attr("src", `${bookData.image}`);
                        clone.attr('href', `/book/${bookData.isbn}`)
                        clone.find('.book_item-title').text(bookData.title);
                        clone.find('.book_item-author').text(bookData.author);
                        $('.book_list').append(clone);
                    }
                }
            })
        }

        $('.search_bar').submit(function(e){
            e.preventDefault();
            let keyword = $('.search_bar-box').val();
            loadBooks(keyword);
        })
    </script>
</body>
</html>