<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/output/style.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <%- include('./part/header') %>
        <div class="home_banner">
            
        </div>
        <form class="search_bar">
            <input class="search_bar-box" name="search_keyword" placeholder="검색할 책 이름을 입력하세요"/>
            <button id="search_bar-btn">검색</button>
        </form>
        <div class="book_list">
            <% for(let i=0; i<items.length; i++){ %>
                <a class="book_item" href=<%=`/book/${items[i].isbn}` %>>
                    <div class="book_item-img">
                        <img src=<%=items[i].image %>/>
                    </div>
                    <div class="book_item-title">
                        <%=items[i].title %>
                    </div>
                    <div class="book_item-author">
                        <%=items[i].author %>
                    </div>
                </a>
            <%} %>
        </div>
    </main>

    <script>
        console.log(isLogin)
        let detachedBookItem = $('.book_list a').eq(0).detach();
        console.log(detachedBookItem.find('.book_item-title').text())
        function loadBooks(keyword){
            $.ajax({
                type: 'get',
                url: `/api/book/search?search_keyword=${keyword}`,
                success : function(result){
                    $('.book_list').empty();
                    const data = result.data;
                    for(let i = 0; i<data.length; i++){
                        let bookData = data[i];
                        let clone = detachedBookItem.clone();
                        clone.find('.book_item-img img').attr("src", `${bookData.image}`);
                        clone.find('.book_item-title').text(bookData.title);
                        clone.find('.book_item-author').text(bookData.author);
                        $('.book_list').append(clone);
                    }
                    console.log($('.book_list').text())
                }
            })
            
        }
        $('.search_bar').submit(function(e){
            e.preventDefault();
            let keyword = $('.search_bar-box').val();
            loadBooks(keyword);
        })
    </script>
</body>
</html>