<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta
			name="author"
			content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
		/>
		<meta name="generator" content="Hugo 0.108.0" />
		<title>Blog Template · Bootstrap v5.3</title>

		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script
			type="text/javascript"
			src="/js/plugins/jquery.cookie.js"
		></script>

		<link
			rel="apple-touch-icon"
			href="/docs/5.3/assets/img/favicons/apple-touch-icon.png"
			sizes="180x180"
		/>
		<link
			rel="icon"
			href="/docs/5.3/assets/img/favicons/favicon-32x32.png"
			sizes="32x32"
			type="image/png"
		/>
		<link
			rel="icon"
			href="/docs/5.3/assets/img/favicons/favicon-16x16.png"
			sizes="16x16"
			type="image/png"
		/>
		<link
			rel="manifest"
			href="/docs/5.3/assets/img/favicons/manifest.json"
		/>
		<link
			rel="mask-icon"
			href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg"
			color="#712cf9"
		/>
		<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico" />
		<meta name="theme-color" content="#712cf9" />

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			.b-example-divider {
				height: 3rem;
				background-color: rgba(0, 0, 0, 0.1);
				border: solid rgba(0, 0, 0, 0.15);
				border-width: 1px 0;
				box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
					inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
			}

			.b-example-vr {
				flex-shrink: 0;
				width: 1.5rem;
				height: 100vh;
			}

			.bi {
				vertical-align: -0.125em;
				fill: currentColor;
			}

			.nav-scroller {
				position: relative;
				z-index: 2;
				height: 2.75rem;
				overflow-y: hidden;
			}

			.nav-scroller .nav {
				display: flex;
				flex-wrap: nowrap;
				padding-bottom: 1rem;
				margin-top: -1px;
				overflow-x: auto;
				text-align: center;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
			}
            a{
                display: block;
            }
            .blog-header-logo {
                font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
                font-size: 2.25rem;
            }
		</style>

		<!-- Custom styles for this template -->
		<link
			href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap"
			rel="stylesheet"
		/>
		
	</head>
	<body>
		<div class="container">
			<%-include('./part/header')%>
		</div>

		<main class="container">
			<div class="mb-2 rounded d-flex p-2">
                
                <img class="col-md-3 rounded" src="<%=user.profile_img%>"/>
                
				<div class="col-md-6 p-3">
					<h1 class="display-6">
						책을 한 번 읽어봅시다!
					</h1>
					<p class="lead my-3">
						Multiple lines of text that form the lede, informing new
						readers quickly and efficiently about what’s most
						interesting in this post’s contents.
					</p>
					<p class="lead mb-0">
						<a href="#" class="text-white fw-bold"
							>Continue reading...</a
						>
					</p>
				</div>
			</div>

			<ul class="row p-2" id="book_list">
				<% for(let i = 0; i<items.length; i++){ %>
					<li class="col-lg-6" id="book_item" style="list-style: none;">
						<div
							class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
						>
							<div class="col-auto d-lg-block">
								<img
									class="bd-placeholder-img"
									style="width:200px; height:250px;"
									id="book_item-img"
									src=<%=items[i].img %>
									focusable="false"/>
							</div>
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-primary" id=""
									><%=items[i].publisher %></strong
								>
								
								<h3 class="mb-0" id="book_item-title"><%=items[i].title %></h3>
								
								<div class="mb-1 text-muted">
									<%=items[i].pubdate %>
									<%=items[i].author %>
								</div>
                                <p class="card-text mb-auto">
                                    <%=items[i].comment%>
                                </p>
								<div class="d-flex justify-content-between align-items-center">
									<a href=<%="/user/mypage/"+items[i].isbn %>>Continue reading</a>
									<button id="deleteBook" data-isbn="<%=items[i].isbn%>">❌</button>
								</div>
								
							</div>
							
						</div>
					</li>
				<%}%>
			</ul>

		</main>

		<footer class="blog-footer mt-3">
			
		</footer>
		<script>
			$('#deleteBook').click(function(e){
				console.log(e.target.getAttribute('data-isbn'));
				let isbn = e.target.getAttribute('data-isbn');
				let sendData = { email };
				try {
					console.log(isbn)
					$.ajax({
						url: `/book/unsave/${isbn}`,
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(sendData),
						success: function (result) {
							console.log(result);
							window.location="/user/mypage"
						},
					});
				} catch (err) {
					console.log(err);
				}
			})
		</script>
	</body>
</html>
